<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Elogic\FavoriteProducts\Api\FavoriteProductsViewInterface" type="Elogic\FavoriteProducts\ViewModel\FavoriteProducts" />
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="elogic_catalog_favorite_products_plugin"
                type="Elogic\FavoriteProducts\Plugin\DepersonalizePlugin" sortOrder="10"/>
    </type>
</config>
