<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="elogic_catalog_favorite_products_plugin"
                type="Elogic\FavoriteProducts\Plugin\DepersonalizePlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPool">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="favorite_products" xsi:type="string">Elogic\FavoriteProducts\CustomerData\FavoriteProductsSectionSource</item>
            </argument>
        </arguments>
    </type>
</config>
